{% extends '::base.html.twig' %}

{% block metatags %}
{{ parent() }}
<meta property="og:site_name" content="{% trans %}Login Cidadão{% endtrans %}"/>
<meta property="og:description" content="{% trans %}With only one account, the citizen will be able to use government's digital services.{% endtrans %}"/>
{% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/facebook-image.png' %}
<meta property="og:image" content="{{ app.request.scheme ~'://' ~ app.request.host ~ asset_url }}" />
{% endimage %}
<meta property="fb:app_id" content="{{ facebook_app_id }}"/>
{% endblock %}

{% block header %}
{{ include("PROCERGSLoginCidadaoCoreBundle::navbar.html.twig") }}
{% endblock %}

{% block sidebar %}{% endblock %}

{% block footer %}
    {{ include("PROCERGSLoginCidadaoCoreBundle::footer.html.twig") }}
    <div id="footer-brasil"><div id="wrapper-footer-brasil"><a href="http://www.acessoainformacao.gov.br/"><span class="logo-acesso-footer"></span></a><a href="http://www.brasil.gov.br/"><span class="logo-brasil-footer"></span></a></div></div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@lc_base_css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}" />    
    {% endstylesheets %}

    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie7.css' filter='cssrewrite' filter='?uglifycss' %}
        <!--[if IE 7]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie8.css' filter='cssrewrite' filter='?uglifycss' %}
        <!--[if IE 8]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
    {% stylesheets 'bundles/procergslogincidadaocore/css/ie/ie9.css' filter='cssrewrite' filter='?uglifycss' %}
        <!--[if IE 9]>
          <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}

<!-- Favicon -->
<link href="bundles/procergslogincidadaocore/img/favicon.ico" rel="icon" type="image/x-icon">

<!-- Styles -->
{% stylesheets 'bundles/procergslogincidadaocore/css/custom.recaptcha.css' filter='cssrewrite' %}
  <link rel="stylesheet" href="{{ asset_url}}" />
{% endstylesheets %}

{% stylesheets 'bundles/procergslogincidadaocore/css/font-awesome/font-awesome.css' filter='cssrewrite' filter='?uglifycss' %}
  <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% stylesheets 'bundles/procergslogincidadaocore/css/font-awesome/font-awesome-ie7.min.css' filter='cssrewrite' filter='?uglifycss' %}
  <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<!-- Web Fonts -->
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700" rel="stylesheet" type="text/css">

{% endblock %}

{% block javascripts %}
    {% javascripts
    	'@lc_base_js'
        filter='?uglifyjs2'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
            '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/ie/ie.js' filter='?uglifyjs2'
    %}
    {% endjavascripts %}	
    {% javascripts '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/plugins.js' filter='?uglifyjs2' %}
          <script type="text/javascript" src="{{ asset_url }}"></script>
	<!--[if lt IE 9]>
          <script type="text/javascript" src="{{ asset_url }}"></script>
        <![endif]-->
    {% endjavascripts %}


    <!--[if lt IE 10]>
        <script type="text/javascript">
        $('input[placeholder], textarea[placeholder]').placeholder();
        </script>
    <![endif]-->
<script type="text/javascript">
var $buoop = {};
$buoop.ol = window.onload;
window.onload=function(){
 try {if ($buoop.ol) $buoop.ol();}catch (e) {}
 var e = document.createElement("script");
 e.setAttribute("type", "text/javascript");
 e.setAttribute("src", "//browser-update.org/update.js");
 document.body.appendChild(e);
}
</script>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '{{ facebook_app_id }}',
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : false  // parse XFBML
        });

        FB.getLoginStatus(function(response) {
        {% if app.session.get('facebook.logout') is not null %}
            var sessionClean = {{ app.session.remove('facebook.logout') }};
            FB.logout();
        {% endif %}
            var button = $('a.connect.facebook');
            if (button.length > 0) {
                var url = button.data('href');
                if (response.status === 'unknown') {
                    url += '?logout';
                }
                button.attr('href', url);
            }

        });
    };

    (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>
<script defer src="http://barra.brasil.gov.br/barra.js" type="text/javascript"></script>

<!— Piwik —>
<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="//analise.cultura.gov.br/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', 22]);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
</script>
<noscript><p><img src="//analise.cultura.gov.br/piwik.php?idsite=22" style="border:0;" alt="" /></p></noscript>
<!— End Piwik Code —>
{% endblock %}
