{% trans_default_domain 'FOSUserBundle' %}

{% if actionUrl is not defined %}
    {% set actionUrl = 'fos_user_registration_register' %}
{% endif%}

{{ form_start(form, {'action': path(actionUrl), 'attr': {'role':'form', 'class':'form-main'}}) }}

{% for type, messages in app.session.flashbag.peekAll() %}
    {% for message in messages %}
        <div class="flash-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

    {{ form_errors(form) }}
    {% if form.firstName is defined %}
        <div>
            {{ form_label(form.firstName, 'form.firstName' | trans) }}
            {{ form_widget(form.firstName, {'attr': {'placeholder' : 'form.firstName.example' }}) }}
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            {{ form_errors(form.firstName) }}
        </div>
    {% endif %}

    {% if form.surname is defined %}
        <div>
            {{ form_label(form.surname, 'form.surname' | trans) }}
            {{ form_widget(form.surname, {'attr': {'placeholder' : 'form.surname.example' }}) }}
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            {{ form_errors(form.surname) }}
        </div>
    {% endif %}

    <div>
        {{ form_label(form.email, 'form.email' | trans) }}
        {{ form_widget(form.email, {'attr': {'placeholder' : 'form.email.example' }}) }}
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        {{ form_errors(form.email) }}
    </div>

    <div>
        {{ form_label(form.plainPassword, 'form.plainPassword' | trans) }}
        {{ form_widget(form.plainPassword, {'attr': {'placeholder' : 'form.plainPassword.example' }}) }}
        {{ form_errors(form.plainPassword) }}
    </div>

    <p>{% trans with { '%linkTerms%': path("lc_privacy")} %}By clicking on create account, you agree to our <a href="%linkTerms%">Privacy and Terms of Service</a>, including our Use of Cookies.{% endtrans %}</p>

    <button id="send" class="btn f-right" type="submit">Criar conta <i class="icon-ok"></i></button>

{{ form_end(form) }}
