<form id="authorization_form" action="{{ path('fos_oauth_server_authorize') }}" method="POST" {{ form_enctype(form) }} class="form-main">
    <input type="hidden" name="accepted" value="{{ 'authorize.accept'|trans({}, 'FOSOAuthServerBundle') }}" />
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function(event) { 
        document.getElementById("authorization_form").submit();
      });
      </script>
    {{ form_row(form.client_id) }}
    {{ form_row(form.response_type) }}
    {{ form_row(form.redirect_uri) }}
    {{ form_row(form.state) }}
    {{ form_row(form.scope) }}
    {{ form_rest(form) }}
</form>
